<header class="header">
    <div class="wrap-header">
        <div class="container">
            <div class="header-menu">
                <div class="logout">
                    <div class="icon-logout"{{on "click" this.logout}}></div>
                </div>
            </div>
        </div>
    </div>
</header>